* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary-color: #DF9F3C;
    --secondary-color: #0e073c;

    --dark-color: #0e073c;
    --lit-color: #fdfdfdf0;
    --bg-cloth: #0e073cea;
}

body {
    font-size: 12px;
    /* background: black; */
}

.container {
    width: 90%;
    margin-inline: auto;
    container-type: inline-size;
}

.firstnav {
    background: var(--secondary-color);
    display: flex;
    padding: 1rem 0;
    border-bottom: 1px solid var(--lit-color);
}

.firstnav-container {
    display: flex;
    justify-content: space-between;

    .contact-nav {
        display: flex;
        gap: 2rem;

        li {
            display: flex;
            gap: 1rem;
            cursor: pointer;
            align-items: center;

            a {
                display: flex;
                align-items: center;
                gap: .5rem;
                color: var(--lit-color);
                transition: all 350ms ease;
            }

            &:hover {
                a {
                    color: var(--primary-color);
                    scale: 1.1;
                }
            }
        }
    }

    .media {
        display: flex;
        gap: 2rem;

        a {
            cursor: pointer;
            font-size: 14px;
            color: var(--lit-color);
            transition: all 350ms ease;

            &:hover {
                scale: 1.4;
            }
        }
    }
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: .5rem 0;
    background: var(--secondary-color);
}

nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-container .nav-list {
    display: flex;
    gap: 1rem;
}

nav .nav-list .list-items {
    padding: 1rem;
    font-size: 14px;
    position: relative;


    a {
        text-transform: capitalize;
        border-bottom: 5px dotted transparent;
        color: var(--lit-color);
        transition: all 350ms ease;
        cursor: pointer;

        &:hover {
            border-bottom: 5px dotted var(--primary-color);
        }
    }

    .dropdown-menu.show {
        animation: show 500ms ease forwards;
    }

    .dropdown-menu {
        position: absolute;
        top: 5rem;
        left: -4rem;
        width: max-content;
        padding: 2rem 1rem;
        box-shadow: 1px 5px 20px rgba(95, 95, 95, 0.7);
        display: flex;
        height: .1px;
        overflow: hidden;
        flex-direction: column;
        gap: 2rem;
        background: var(--dark-color);
        transition: all 500ms ease;
        opacity: 0;
        visibility: hidden;

        li {
            a {
                width: 100%;
                padding: .4rem 4rem;
            }
        }
    }
}

nav .nav-list .active {

    a {
        border-bottom: 5px dotted var(--primary-color);
    }
}

nav .menu-btn {
    position: absolute;
    top: 1rem;
    right: 0;
    display: none;
    padding: 1rem;
    border-radius: 50%;
    background: var(--primary-color);

    i {
        color: var(--lit-color);
        font-size: 18px;
    }
}

h1 {
    font-size: 66px;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 46px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 26px;
}

h6 {
    font-size: 18px;
}

.hero {
    padding: 1rem 0 5rem 0;
    min-height: 80vh;
    position: relative;
    border-bottom: 10px solid var(--primary-color);
    display: flex;
    background-image: url(../img/IMG_4330.jpeg);
    background-size: cover;
    align-items: center;
    container-type: inline-size;

    .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bg-cloth);
    }

    .hero-container {
        position: relative;
        z-index: 10;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .hero-content {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h1 {
                font-size: 50px;
                color: var(--lit-color);
                text-transform: uppercase;

                span {
                    color: transparent;
                    -webkit-text-stroke: 2px var(--primary-color);
                }

                small {
                    color: transparent;
                    -webkit-text-stroke: 2px var(--primary-color);
                }
            }

            p {
                font-size: 22px;
                color: #e1e1e1;
            }

            a {
                position: relative;
                display: flex;
                padding: .5rem .5rem .5rem 1rem;
                background: var(--lit-color);
                box-shadow: 1px 1px 10px #0004;
                width: max-content;
                font-size: 16px;
                text-transform: capitalize;
                border-radius: 4ch;
                display: flex;
                gap: 1rem;
                color: var(--dark-color);
                font-size: 14px;
                font-weight: 700;
                align-items: center;
                overflow: hidden;

                span {
                    position: relative;
                    z-index: 1;
                }

                i {
                    font-size: 14px;
                    padding: .5rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    color: var(--lit-color);
                    z-index: 1;
                    background: var(--primary-color);
                }
            }

            a::before {
                content: "";
                position: absolute;
                top: .9rem;
                right: 1.4rem;
                width: 22%;
                border-radius: 50%;
                height: 60%;
                transition: all 400ms ease;
            }

            a:hover {
                span {
                    color: var(--lit-color);
                }

                &::before {
                    background: var(--primary-color);
                    width: 190%;
                    height: 190%;
                    top: -2rem;
                    right: -2rem;
                }
            }
        }
    }
}

/* hero section done now th about section*/


.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/error-bg.png);
    background-size: cover;
    background-position: center;

    .about-container {
        display: grid;
        gap: 5rem;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;

        .about-thumbnail {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);

            .about-title {
                display: flex;
                padding: 1rem;
                align-items: center;
                border-radius: 10px;
                background: var(--secondary-color);

                h2 {
                    color: var(--lit-color);
                    text-transform: uppercase;
                }
            }

            .thumb-1 {
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .span-2 {
                width: 100%;
                height: 100%;
                grid-column: span 2;
                overflow: hidden;
                border-radius: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .about-content {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h3 {
                color: var(--dark-color);
            }

            p {
                font-size: 18px;
                color: var(--dark-color);
            }

            a {
                position: relative;
                display: flex;
                padding: .5rem .5rem .5rem 1rem;
                box-shadow: 1px 1px 10px #0004;
                width: max-content;
                font-size: 16px;
                text-transform: capitalize;
                border-radius: 4ch;
                display: flex;
                gap: 1rem;
                color: var(--dark-color);
                font-size: 14px;
                font-weight: 700;
                align-items: center;
                overflow: hidden;

                span {
                    position: relative;
                    z-index: 1;
                }

                i {
                    font-size: 14px;
                    padding: .5rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    color: var(--lit-color);
                    z-index: 1;
                    background: var(--primary-color);
                }
            }

            a::before {
                content: "";
                position: absolute;
                top: .9rem;
                right: 1.4rem;
                width: 22%;
                border-radius: 50%;
                height: 60%;
                transition: all 400ms ease;
            }

            a:hover {
                span {
                    color: var(--lit-color);
                }

                &::before {
                    background: var(--primary-color);
                    width: 190%;
                    height: 190%;
                    top: -2rem;
                    right: -2rem;
                }
            }
        }
    }
}


/* about section ends. Now to displaying the premium products  */

.premium {
    padding: 10rem 0;
    min-height: 40vh;
    background: var(--secondary-color);
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .premium-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        >h4 {
            position: relative;
            text-align: center;
            margin-bottom: 2rem;
            color: var(--primary-color);
            font-weight: 700;
            text-transform: uppercase;

            &::before,
            &::after {
                position: absolute;
                content: "";
                top: 40%;
                width: 2rem;
                height: .5rem;
                background: var(--lit-color);
            }

            &::before {
                transform: translateX(-2rem);
            }
        }


        .swiper-button-prev::after {
            border-width: 8px 10px 8px 0;
            color: var(--primary-color);
            border-color: transparent var(--primary-color) transparent transparent;
            margin-left: -5px;
            /* Adjust the distance between the arrow and the button edge */
        }

        .swiper-button-next::after {
            border-width: 8px 0 8px 10px;
            border-color: transparent transparent transparent var(--primary-color);
            margin-right: -5px;
            /* Adjust the distance between the arrow and the button edge */
        }

        #FirstSwiper {
            width: 100%;
            height: 100%;

            /* Custom styles for the buttons */
            .swiper-button-prev,
            .swiper-button-next {
                color: var(--primary-color);
                /* background-color: var(--lit-color); */
                /* border-radius: 50%; */
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                position: absolute;
                top: 50%;

                &:hover {
                    background: var(--primary-color);

                    .swiper-button-prev::after,
                    .swiper-button-next::after {
                        background: var(--lit-color);

                    }

                    &::after,
                    &::after {
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;

                        &:hover {
                            background: var(--lit-color);
                        }
                    }

                }

            }

            /* Styles for the button arrows */
            .swiper-button-prev::after,
            .swiper-button-next::after {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
            }


            #wrapper1 {

                #swiper {
                    display: grid;
                    gap: 2rem;
                    grid-template-columns: repeat(2, 1fr);

                    .premium-thumb {
                        width: 100%;
                        height: 50rem;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    .premuim-content {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        justify-content: center;

                        h4 {
                            text-transform: uppercase;
                            color: var(--lit-color);

                        }

                        p {
                            font-size: 16px;
                            color: var(--lit-color);
                            font-weight: 300;
                            line-height: 25px;
                        }


                        a {
                            position: relative;
                            display: flex;
                            padding: .5rem .5rem .5rem 1rem;
                            box-shadow: 1px 1px 10px #0004;
                            width: max-content;
                            font-size: 16px;
                            text-transform: capitalize;
                            border-radius: 4ch;
                            display: flex;
                            gap: 1rem;
                            color: var(--dark-color);
                            background: var(--lit-color);
                            font-size: 14px;
                            font-weight: 700;
                            align-items: center;
                            overflow: hidden;

                            span {
                                position: relative;
                                z-index: 1;
                            }

                            i {
                                font-size: 14px;
                                padding: .5rem;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                position: relative;
                                color: var(--lit-color);
                                z-index: 1;
                                background: var(--primary-color);
                            }
                        }

                        a::before {
                            content: "";
                            position: absolute;
                            top: .9rem;
                            right: 1.4rem;
                            width: 22%;
                            border-radius: 50%;
                            height: 60%;
                            transition: all 400ms ease;
                        }

                        a:hover {
                            span {
                                color: var(--lit-color);
                            }

                            &::before {
                                background: var(--primary-color);
                                width: 190%;
                                height: 190%;
                                top: -2rem;
                                right: -2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.brand {
    padding: 10rem 0;

    .brand-container {

        .brand-row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            .col-1 {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                >h4 {
                    position: relative;
                    margin-bottom: 2rem;
                    color: var(--secondary-color);
                    font-weight: 700;
                    text-transform: uppercase;

                    &::before,
                    &::after {
                        position: absolute;
                        content: "";
                        top: 40%;
                        width: 2rem;
                        height: .5rem;
                        background: var(--primary-color);
                    }

                    &::before {
                        transform: translateX(-2rem);
                    }
                }

                p {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                }
            }

            .col-2 {
                display: flex;
                justify-content: space-between;
            }

        }

        .mySwiper2 {
            swiper-slide {
                display: flex;
                margin: 5rem auto;
                flex-direction: column;
                gap: 1rem;
                background: var(--lit-color);
                box-shadow: 1px 1px 10px #0002;
                width: 100%;
                height: 30rem;
                align-items: center;
                justify-content: center;

                img {
                    width: 90%;
                    height: 80%;
                    object-fit: cover;
                }

                h6 {
                    padding: 1rem;
                    text-transform: capitalize;
                    text-align: center;
                }
            }
        }
    }
}

.events {
    display: flex;
    align-items: center;
    border-bottom: 10px solid var(--primary-color);
    padding: 1rem 0;
    min-height: 70svh;

    .event-container {

        h4 {
            position: relative;
            text-align: center;
            margin-bottom: 2rem;
            color: var(--secondary-color);
            font-weight: 700;
            text-transform: uppercase;

            &::before,
            &::after {
                position: absolute;
                content: "";
                top: 40%;
                width: 2rem;
                height: .5rem;
                background: var(--primary-color);
            }

            &::before {
                transform: translateX(-2rem);
            }
        }

        .mySwiper3 {

            swiper-slide {
                overflow: hidden;
                border-radius: 10px;
                margin: 2rem 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                box-shadow: 1px 2px 10px #0002;

                .event-thumb {
                    position: relative;
                    width: 100%;
                    height: 15rem;
                    overflow: hidden;

                    .event-date {
                        position: absolute;
                        background: var(--secondary-color);
                        color: var(--lit-color);
                        padding: 1rem;
                        right: 0;
                        top: 0;
                        text-transform: capitalize;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }



                }

                h6 {
                    padding: 0 1rem;
                    text-transform: capitalize;
                    font-weight: 700;
                    color: var(--dark-color);
                }

                p {
                    color: var(--dark-color);
                    text-transform: lowercase;
                    font-size: 12px;
                    padding: 0 1rem;
                }

                a {
                    margin: 1rem;
                    position: relative;
                    display: flex;
                    padding: .5rem .5rem .5rem 1rem;
                    box-shadow: 1px 1px 10px #0004;
                    width: max-content;
                    font-size: 16px;
                    text-transform: capitalize;
                    border-radius: 4ch;
                    display: flex;
                    gap: 1rem;
                    color: var(--dark-color);
                    background: var(--lit-color);
                    font-size: 14px;
                    font-weight: 700;
                    align-items: center;
                    overflow: hidden;

                    span {
                        position: relative;
                        z-index: 1;
                    }

                    i {
                        font-size: 14px;
                        padding: .5rem;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        position: relative;
                        color: var(--lit-color);
                        z-index: 1;
                        background: var(--primary-color);
                    }
                }

                a::before {
                    content: "";
                    position: absolute;
                    top: .9rem;
                    right: 1.4rem;
                    width: 22%;
                    border-radius: 50%;
                    height: 60%;
                    transition: all 400ms ease;
                }

                a:hover {
                    span {
                        color: var(--lit-color);
                    }

                    &::before {
                        background: var(--primary-color);
                        width: 190%;
                        height: 190%;
                        top: -2rem;
                        right: -2rem;
                    }
                }
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    background: var(--secondary-color);
    

    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .footer-logo {
            display: flex;
            justify-content: center;

        }

        .footer-ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 2rem;

            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                h5 {
                    font-weight: 600;
                    text-transform: capitalize;
                    color: var(--lit-color);
                }

                li {
                    font-size: 16px;

                    a {
                        color: var(--lit-color);
                        text-transform: capitalize;
                    }
                }
            }
        }

        .footer-media {
            padding: 2rem 0;
            display: flex;
            gap: 1rem;
            border-bottom: 1px solid var(--lit-color);
            justify-content: end;

            a {
                color: var(--lit-color);

                i {
                    font-size: 16px;
                }
            }
        }
    }

    h6 {
        text-align: center;
        padding: 2rem 1rem 1rem;
        color: var(--lit-color);
        text-transform: capitalize;
    }

}

/* The About Page */
.page-hero {
    height: 40vh;
    background: red;
    background-image: url(../img/IMG_4330.jpeg);
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    position: relative;

    .page-container {
        position: relative;
        z-index: 20;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;
        align-items: center;
        justify-content: center;

        h3 {
            color: var(--primary-color);
        }

        .click-back-menu {
            display: flex;
            gap: 1rem;
            align-items: center;

            li {
                font-size: 16px;
                color: var(--lit-color);

                a {
                    color: var(--lit-color);
                }
            }

            .thestyle {
                width: 10px;
                height: 10px;
                background: var(--lit-color);
                transform: rotateZ(45deg);
            }
        }
    }

    .video-thumbnail {
        position: absolute;
        z-index: 20;
        right: 5%;
        bottom: -20%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        overflow: hidden;
        border: 5px solid var(--lit-color);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }

        .play {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--bg-cloth);
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                color: var(--lit-color);
                font-size: 30px;
                animation: pulse 2s infinite;
                padding: 1rem 1.2rem;
                background: var(--primary-color);
                border-radius: 50%;
            }
        }
    }

    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bg-cloth);
    }
}


.about-about-section {
    padding: 0 0 5rem;
}

.about-about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .about-anout-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;

        [class*="img-"] {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: ;
            }
        }

        .img-1 {
            grid-row: span 2;
            background: red;
        }
    }

    .about-about-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
            text-transform: uppercase;
            color: var(--dark-color);
        }

        p {
            font-size: 20px;
            color: var(--dark-color);
        }
    }
}


.about-about-sub-section {
    padding-bottom: 5rem;

    .sub-section-container {
        display: flex;
        flex-direction: column;
        gap: 5rem;

        p {
            font-size: 18px;
            color: var(--dark-color);
        }

        .sub-section-left {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10rem;

            .sub-image {
                position: relative;
                width: 100%;
                height: 300px;

                &::before {
                    content: " ";
                    position: absolute;
                    width: 5px;
                    border-radius: 20px;
                    height: 100%;
                    top: 0;
                    right: -5rem;
                    background: var(--dark-color);
                }

                img {
                    width: 100%;
                    height: 100%;
                }

                .circle {
                    position: absolute;
                    top: 2rem;
                    right: -6.1rem;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                    border: 1px solid var(--primary-color);

                    .inner-circle {
                        width: 15px;
                        height: 15px;
                        background: var(--primary-color);
                        border-radius: 50%;
                    }

                    &::before {
                        content: " ";
                        position: absolute;
                        width: 100px;
                        height: 2px;
                        top: 35%;
                        border-bottom: 5px dotted var(--primary-color);
                        z-index: -1;
                    }
                }
            }

            .sub-content {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .circle {
                    position: absolute;
                    bottom: 2rem;
                    left: -6.55rem;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                    border: 1px solid var(--primary-color);

                    .inner-circle {
                        width: 15px;
                        height: 15px;
                        background: var(--primary-color);
                        border-radius: 50%;
                    }

                    &::before {
                        content: " ";
                        position: absolute;
                        width: 100px;
                        height: 2px;
                        top: 35%;
                        border-bottom: 5px dotted var(--primary-color);
                        z-index: -1;
                    }
                }

                h3 {
                    color: var(--dark-color);
                }

                p {
                    font-size: 20px;
                    color: var(--dark-color);
                    text-align: justify;
                }
            }
        }

        .sub-section-right {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10rem;

            .sub-image {
                position: relative;
                width: 100%;
                height: 300px;

                &::before {
                    content: " ";
                    position: absolute;
                    width: 5px;
                    border-radius: 20px;
                    height: 100%;
                    top: 0;
                    left: -5.5rem;
                    background: var(--dark-color);
                }

                img {
                    width: 100%;
                    height: 100%;
                }

                .circle {
                    position: absolute;
                    top: 2rem;
                    left: -6.6rem;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                    border: 1px solid var(--primary-color);

                    .inner-circle {
                        width: 15px;
                        height: 15px;
                        background: var(--primary-color);
                        border-radius: 50%;
                    }

                    &::before {
                        content: " ";
                        position: absolute;
                        width: 100px;
                        height: 2px;
                        top: 35%;
                        border-bottom: 5px dotted var(--primary-color);
                        z-index: -1;
                    }
                }
            }

            .sub-content {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .circle {
                    position: absolute;
                    bottom: 2rem;
                    right: -6rem;
                    width: 30px;
                    height: 30px;
                    z-index: 10;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                    border: 1px solid var(--primary-color);

                    .inner-circle {
                        width: 15px;
                        height: 15px;
                        background: var(--primary-color);
                        border-radius: 50%;
                    }

                    &::before {
                        content: " ";
                        position: absolute;
                        width: 100px;
                        height: 2px;
                        top: 35%;
                        border-bottom: 5px dotted var(--primary-color);
                        z-index: -1;
                    }
                }

                h3 {
                    color: var(--dark-color);
                }

                p {
                    font-size: 20px;
                    color: var(--dark-color);
                    text-align: justify;
                }
            }
        }
    }
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(248, 176, 9, 0.7);
    }

    70% {
        box-shadow: 0 0 0 40px rgba(245, 193, 5, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(246, 166, 6, 0);
    }
}

/* The About Page */





/* The Premium brand Page */
.grid-system {
    padding-bottom: 5rem;

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        .grid-box {
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            height: 35rem;
            background: red;

            .grid-box-image {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            .grid-box-content {
                padding: 1rem;
                position: absolute;
                margin-inline: auto;
                border-radius: 5px;
                left: 3%;
                width: 87%;
                height: 25%;
                background: var(--secondary-color);
                bottom: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                transition: all 500ms ease;
                cursor: pointer;

                h6 {
                    color: var(--lit-color);
                    font-size: 12px;
                    border-bottom: 1px solid var(--primary-color);
                    width: max-content;
                }

                h5 {
                    color: var(--lit-color);
                    font-size: 22px;
                }

                a {
                    position: relative;
                    color: var(--lit-color);
                    display: flex;
                    width: max-content;
                    align-self: end;
                    z-index: 1;
                    transform: translateY(-4rem);
                    text-transform: capitalize;
                    opacity: 0;
                    font-weight: 600;


                    &::after {
                        position: absolute;
                        content: "";
                        left: -5px;
                        bottom: -5px;
                        width: 25PX;
                        height: 25px;
                        border-radius: 50%;
                        border: 1px solid var(--primary-color);
                        background: transparent;
                        transition: width 0.5s;
                    }
                }
            }

            &:hover {
                .grid-box-content {
                    height: 30%;

                    a {
                        animation: opacity 0.6s linear forwards;
                    }
                }
            }
        }
    }
}

/* The Premium brand Page */





/* The contact Pages */
.contact-page {
    min-height: 40vh;

    .contact-container {
        background-image: url(../img/contact.png);
        background-position: top left;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        padding-bottom: 5rem;

        form {
            width: 60%;
            margin-inline: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            background: #f7f7f78e;
            padding: 2rem 1rem;
            backdrop-filter: blur(5px);

            .spanTwo,
            .input-field {
                position: relative;
                display: flex;
                gap: 1rem;
                border-radius: 5px;
                padding: .5rem;
                border: 1px solid var(--secondary-color);


                input {
                    width: 100%;
                    padding: 1rem;
                    border: none;
                    outline: none;
                    background: transparent;
                    font-size: 12px;
                    color: var(--dark-color);

                    &::placeholder {
                        font-size: 10px;
                        color: #0005;
                    }
                }

                i {
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 20px;
                    color: var(--primary-color)
                }
            }

            .spanTwo {
                grid-column: span 2;

                textarea {
                    width: 100%;
                    border: none;
                    outline: none;
                    background: transparent;
                    min-height: 10rem;
                    font-size: 12px;
                    color: var(--dark-color);
                    resize: vertical;
                }

                i {
                    top: 2rem;
                }
            }

            button {
                padding: 1rem 2rem;
                font-size: 14px;
                background: var(--secondary-color);
                color: var(--lit-color);
                text-transform: capitalize;
                border-radius: 5px;
                font-weight: 600;
                transition: all 500ms ease; 
                cursor: pointer;

                &:hover {
                    background: var(--lit-color);
                    color: var(--secondary-color);
                }
            }
        }
    }

    .contact-info {
        display: grid;
        width: 90%;
        margin: auto;
        padding: 5rem 1rem 1rem;

        ul {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;

            li {
                padding: 2rem 1rem;
                background: var(--lit-color);
                box-shadow: 1px 1px 10px #0003;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                border-radius: 5px;

                i {
                    font-size: 20px;
                    width: 60px;
                    height: 60px;
                    text-align: center;
                    color: var(--dark-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background: #df9e3c5e;
                    align-self: center;
                }

                span {
                    color: var(--dark-color);
                    font-size: 20px;
                    text-align: center;
                }
            }
        }
    }
}
.map{
    width: 100%;   
    /* max-height: 40vh;  */
    overflow: hidden;
    iframe{
        width: 100%;
    }
}

/* The contact Pages */

@media(width > 1400px) {
    .container {
        width: 1300px;
    }
}

@container(width < 1100px) {

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 15px;
    }

    h6 {
        font-size: 14px;
    }

    p {
        font-size: 10px;
        font-weight: 400;
    }

    .about-about-sub-section {

        .sub-section-container {

            .sub-section {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;

                .sub-image {
                    &:before {
                        display: none;
                    }

                    .circle {
                        display: none;
                    }
                }

                .sub-content {
                    .circle {
                        display: none;
                    }
                }
            }
        }
    }

}

@media(width < 950px) {
    .container {
        width: 95%;
    }

    nav {
        height: 65px;
        overflow: hidden;
        transition: all 500ms ease;

        .nav-container {
            align-items: start;
            flex-direction: column;
            gap: 2rem;

            .nav-list {
                flex-direction: column;

                .dropdown-menu {
                    position: static;
                    padding: 0;
                    transform: translateY(2rem);
                    border: none;
                    box-shadow: none;
                    border-radius: 0;
                    height: 0px;

                    li {
                        a {
                            padding: 0;
                        }
                    }
                }
            }

            .menu-btn {
                display: flex;
            }
        }
    }

    nav.active {
        animation: drop 500ms ease forwards;
    }

    .hero {
        .hero-container {
            grid-template-columns: 1fr;
        }
    }

    .brand {
        .brand-container {

            .brand-row {
                grid-template-columns: 1fr;

                .col-2 {
                    grid-row: 1/2;
                }
            }
        }
    }

    /* for the about page */
    .about-about-container {
        grid-template-columns: 1fr;
    }

    .about-about-sub-section {

        .sub-section-container {
            gap: 1rem;

            .sub-section-right,
            .sub-section-left {
                grid-template-columns: 1fr;

                .sub-content,
                .sub-image {
                    &:before {
                        display: none;
                    }

                    .circle {
                        display: none;
                    }
                }
            }
        }
    }

    /* the aboutpage */


    /* the premium page */
    .grid-system {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    /* the premium page */

    
    /* the contact page */
    .contact-page{
        .contact-container{
            form{
                width: 100%;
            }
        }
        .contact-info{
            ul{
                li{
                    span{
                        font-size: 10px;
                    }
                }
            }
        }
    }

    /* the contact page */
}

@media(width < 700px) {

    .container {
        width: 80%;
    }

    .contact-nav {
        li {
            span {
                display: none;
            }
        }
    }

    .hero-container {
        #swiper-wrapper4 {
            #swiper-slide-4 {
                grid-template-columns: 1fr;
            }
        }
    }

    .about {
        padding: 5rem 0;

        .about-container {
            grid-template-columns: 1fr;
        }
    }

    .premium {
        .premium-container {
            #FirstSwiper {
                #wrapper1 {
                    #swiper {
                        grid-template-columns: 1fr;
                        gap: 1rem;
                        text-align: center;

                        .premium-thumb {
                            height: 30vh;
                        }

                        .premuim-content {
                            align-items: center;

                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    .brand {
        .brand-container {

            .brand-row {
                grid-template-columns: 1fr;

                .col-2 {
                    grid-row: 1/2;
                }
            }
        }
    }

    .page-hero {

        .video-thumbnail {
            opacity: 0;
            position: relative;

            img {
                display: none;
            }
        }

    }


    /* the premium page */
    .grid-system {
        .grid-container {
            grid-template-columns: 1fr;
        }
    }

    /* the premium page */


    .contact-page{
        .contact-container{
            background-position: top center;
            form{
                width: 100%;
                background: transparent;
                backdrop-filter: none;
                padding: 0;
                grid-template-columns: 1fr;

                .input-field{
                    background: var(--lit-color);
                }

                .spanTwo{
                    grid-column: span 1;
                }
            }
        }
        .contact-info{
            ul{
                grid-template-columns: 1fr;
                li{
                    span{
                        font-size: 18px;
                    }
                }
            }
        }
    }

    /* the contact page */
}

@media(width < 500px) {
    .container {
        width: 90%;
    }

    nav {
        height: 30px;
        overflow: hidden;

        .menu-btn {
            display: flex;
            padding: .5rem;
            top: .2rem;

            i {
                color: var(--lit-color);
                font-size: 12px;
            }
        }
    }

    .hero {
        min-height: 60vh;

        .hero-container {
            grid-template-columns: 1fr;

            .hero-content {
                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    .logo {
        width: 10rem;

        img {
            width: 100%;
        }
    }

    .hero-container {
        #swiper-wrapper4 {
            #swiper-slide-4 {
                grid-template-columns: 1fr;

                .hero-image {
                    height: 20rem;

                    img {
                        object-fit: contain;
                    }
                }
            }
        }
    }

    .about {
        padding: 5rem 0;

        .about-container {
            grid-template-columns: 1fr;
        }
    }

    .premium {
        height: fit-content;
        padding: 5rem 0;
        .premium-container {
            #FirstSwiper {
                #wrapper1 {
                    #swiper {
                        grid-template-columns: 1fr;
                        gap: 1rem;

                        .premium-thumb {
                            height: 30vh;
                        }

                        .premuim-content {
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    .brand {
        .brand-container {

            .brand-row {
                grid-template-columns: 1fr;
                gap: 2rem;

                .col-1 {
                    h4 {
                        text-align: center;
                    }
                }

                .col-2 {
                    grid-row: 1/2;
                    flex-direction: column;
                    gap: 1rem;

                    img {
                        height: 20rem;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .events {
        padding: 2rem 0 5rem;
    }



    /* the about page sections  */
    .about-about-container {
        .about-about-content {
            h2 {
                font-size: 26px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .about-about-sub-section {

        .sub-section-container {
            gap: 1rem;

            p {
                font-size: 14px;
            }

            .sub-section-right,
            .sub-section-left {
                gap: 1rem;

                grid-template-columns: 1fr;

                .sub-image {
                    height: 150px;
                }

                .sub-content,
                .sub-image {
                    &:before {
                        display: none;
                    }

                    .circle {
                        display: none;
                    }

                    h1 {
                        display: none;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    /* the about page sections  */


}

@keyframes drop {
    to {
        height: max-content;
        overflow: visible;
        transition: all 500ms ease;
    }
}

@keyframes show {
    to {
        height: max-content;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes opacity {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}